// Button components
.btn {
  @include button-base;
}

.btn-primary {
  @include button-primary;
}

.btn-secondary {
  @include button-secondary;
}

.btn-success {
  @include button-base;
  background-color: $success;
  color: white;

  &:hover:not(:disabled) {
    background-color: darken($success, 10%);
  }
}

.btn-danger {
  @include button-base;
  background-color: $danger;
  color: white;

  &:hover:not(:disabled) {
    background-color: darken($danger, 10%);
  }
}

.btn-outline {
  @include button-base;
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;

  &:hover:not(:disabled) {
    background-color: $primary;
    color: white;
  }
}

.btn-ghost {
  @include button-base;
  background-color: transparent;
  color: $gray-600;

  &:hover:not(:disabled) {
    background-color: $gray-100;
  }
}

.btn-sm {
  padding: $spacing-1 $spacing-2;
  font-size: $font-size-sm;
}

.btn-lg {
  padding: $spacing-3 $spacing-6;
  font-size: $font-size-lg;
}

.btn-block {
  width: 100%;
}

.btn-icon {
  padding: $spacing-2;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
